.specie_name {
    text-align: center;
}

.card-title-md {
    font-size: 40px;
    margin: 0px;
}
.specie_description {
    padding: 20px;
    font-size: 12px;
    margin: 0px;
}

p.specie_description {
    margin: 0px;
}