page-list {

}

/*

ion-list .item-ios{
    background-color:rgba(0,0,0,0); border:1px solid white; background-color:rgba(0,0,200,0.4); margin:3px;
}
ion-list .input-wrapper{
   text-align:center; color:rgba(255,255,255,1);
}

.scroll-content{
    background: url("https://i.ytimg.com/vi/d96Knr0DAmU/maxresdefault.jpg");
}

.menu-inner{
    width:100%;
}

*/
